<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Suite">
    <listeners>
        <listener class-name="com.orangehrm.listeners.TestListener"/>
        <listener class-name="com.orangehrm.listeners.RetryTransformer"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="OrangeHRM Tests">
        <classes>
            <class name="com.orangehrm.tests.LoginTest"/>
            <class name="com.orangehrm.tests.LeaveTest"/>
            <class name="com.orangehrm.tests.AdminTest"/>
        </classes>
    </test>
    <!-- <test name="Leave Tests">
        <classes>            
            <class name="com.orangehrm.tests.LeaveTest">
                <methods>
                    <include name="testLeavePageLoads"/>
                    <include name="testMyLeaveTabDisplaysData"/>
                    <include name="testLeaveTypeFilter"/>
                </methods>
            </class>
        </classes>
    </test> -->
    <!-- <test name="Admin Tests">
        <classes>            
            <class name="com.orangehrm.tests.AdminTest">
                <methods>
                    <include name="testDeleteUser"/>
                </methods>
            </class>
        </classes>
    </test> -->
</suite>